%section.forgot_password.container
  .row
    .span10.offset1
      = form_tag password_reset_token_path, method: :put do
        %header
          %h1 Forgot Password?
          %p We will send you an email with a link that you can use to reset your password.
        %fieldset
          %label Email Address
          = email_field_tag "email"
        %fieldset.action
          %input(type="submit" value="Send Email" class="btn")