---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OJz03Gsmewauak1Y2dSEuUtJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2PLR24jUekC2cq\",\n  \"livemode\": false,\n  \"created\":
        1376834527,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2PLRajiLpzRiLL\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 3,\n
        \   \"exp_year\": 2016,\n    \"fingerprint\": \"dYM8NQQzCkhwHw6j\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Sun, 18 Aug 2013 14:02:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_2PLR24jUekC2cq&email=veronica.marks%40brown.biz&plan=premium
    headers:
      Authorization:
      - Bearer sk_test_OJz03Gsmewauak1Y2dSEuUtJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1376834531,\n  \"id\":
        \"cus_2PLRc63LMKxGVM\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"veronica.marks@brown.biz\",\n  \"delinquent\": false,\n  \"subscription\":
        {\n    \"plan\": {\n      \"interval\": \"month\",\n      \"name\": \"Myflix
        monthly plan\",\n      \"amount\": 999,\n      \"currency\": \"cad\",\n      \"id\":
        \"premium\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null\n    },\n    \"object\": \"subscription\",\n
        \   \"start\": 1376834531,\n    \"status\": \"active\",\n    \"customer\":
        \"cus_2PLRc63LMKxGVM\",\n    \"cancel_at_period_end\": false,\n    \"current_period_start\":
        1376834531,\n    \"current_period_end\": 1379512931,\n    \"ended_at\": null,\n
        \   \"trial_start\": null,\n    \"trial_end\": null,\n    \"canceled_at\":
        null,\n    \"quantity\": 1\n  },\n  \"discount\": null,\n  \"account_balance\":
        0,\n  \"cards\": {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\":
        \"/v1/customers/cus_2PLRc63LMKxGVM/cards\",\n    \"data\": [\n      {\n        \"id\":
        \"card_2PLRajiLpzRiLL\",\n        \"object\": \"card\",\n        \"last4\":
        \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\": 3,\n        \"exp_year\":
        2016,\n        \"fingerprint\": \"dYM8NQQzCkhwHw6j\",\n        \"customer\":
        \"cus_2PLRc63LMKxGVM\",\n        \"country\": \"US\",\n        \"name\": null,\n
        \       \"address_line1\": null,\n        \"address_line2\": null,\n        \"address_city\":
        null,\n        \"address_state\": null,\n        \"address_zip\": null,\n
        \       \"address_country\": null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null\n      }\n    ]\n  },\n  \"default_card\":
        \"card_2PLRajiLpzRiLL\",\n  \"active_card\": {\n    \"id\": \"card_2PLRajiLpzRiLL\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 3,\n    \"exp_year\": 2016,\n    \"fingerprint\": \"dYM8NQQzCkhwHw6j\",\n
        \   \"customer\": \"cus_2PLRc63LMKxGVM\",\n    \"country\": \"US\",\n    \"name\":
        null,\n    \"address_line1\": null,\n    \"address_line2\": null,\n    \"address_city\":
        null,\n    \"address_state\": null,\n    \"address_zip\": null,\n    \"address_country\":
        null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\": null,\n
        \   \"address_zip_check\": null\n  }\n}\n"
  recorded_at: Sun, 18 Aug 2013 14:02:12 GMT
recorded_with: VCR 2.5.0
