---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2PLkpdRwuM0vMf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OJz03Gsmewauak1Y2dSEuUtJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2PLkpdRwuM0vMf\",\n  \"created\": 1376835662,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_2PLkv8nabIxsls\",\n      \"object\":
        \"charge\",\n      \"created\": 1376835661,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"cad\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_2PLk9ZXxOGZbgl\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 12,\n        \"exp_year\": 2013,\n        \"fingerprint\":
        \"dYM8NQQzCkhwHw6j\",\n        \"customer\": \"cus_2PLkxka84SmZZI\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"balance_transaction\":
        \"txn_2PLkVPLFlGxA2w\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2PLkxka84SmZZI\",\n
        \     \"invoice\": \"in_2PLkwP3PfiiMNa\",\n      \"description\": null,\n
        \     \"dispute\": null,\n      \"fee\": 59,\n      \"fee_details\": [\n        {\n
        \         \"amount\": 59,\n          \"currency\": \"cad\",\n          \"type\":
        \"stripe_fee\",\n          \"description\": \"Stripe processing fees\",\n
        \         \"application\": null\n        }\n      ]\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 0,\n  \"request\": \"iar_2PLkIyIK1SSiW7\"\n}\n"
  recorded_at: Sun, 18 Aug 2013 14:29:39 GMT
recorded_with: VCR 2.5.0
