%article
- @categories.each do |category|
  .well
    %header
      %strong= link_to category.name
      %br/
      %br/
    - category.videos.each do |video|
      = link_to image_tag(video.small_cover_url), video_path(video)   
    
