%div
  %span.span7
    %img{:src => @video.large_cover_url}/
  %span.span3
  %h3.pull-left= @video.title
  %br/
  %p.pull-left= @video.description
  %p
    %br/
    %a.btn.btn-primary{:href => "#"} Watch Now