---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_2R0Fzj2xLnjOZe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_OJz03Gsmewauak1Y2dSEuUtJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_2R0Fzj2xLnjOZe\",\n  \"created\": 1377216924,\n
        \ \"livemode\": false,\n  \"type\": \"charge.failed\",\n  \"data\": {\n    \"object\":
        {\n      \"id\": \"ch_2R0FMebcLEFEu4\",\n      \"object\": \"charge\",\n      \"created\":
        1377216924,\n      \"livemode\": false,\n      \"paid\": false,\n      \"amount\":
        999,\n      \"currency\": \"cad\",\n      \"refunded\": false,\n      \"card\":
        {\n        \"id\": \"card_2R0DRx5G2JhgIt\",\n        \"object\": \"card\",\n
        \       \"last4\": \"0341\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        8,\n        \"exp_year\": 2016,\n        \"fingerprint\": \"X2Ea9FfucAIuaGFm\",\n
        \       \"customer\": \"cus_2PLkxka84SmZZI\",\n        \"country\": \"US\",\n
        \       \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": false,\n      \"balance_transaction\":
        null,\n      \"failure_message\": \"Your card was declined.\",\n      \"failure_code\":
        \"card_declined\",\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_2PLkxka84SmZZI\",\n
        \     \"invoice\": null,\n      \"description\": \"payment fail\",\n      \"dispute\":
        null,\n      \"fee\": 0,\n      \"fee_details\": []\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 2,\n  \"request\": \"iar_2R0FHDmC4t607B\"\n}\n"
  recorded_at: Fri, 23 Aug 2013 02:03:08 GMT
recorded_with: VCR 2.5.0
