---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_OJz03Gsmewauak1Y2dSEuUtJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_2R1zpHEEQfYaBT\",\n  \"livemode\": false,\n  \"created\":
        1377223417,\n  \"used\": false,\n  \"object\": \"token\",\n  \"type\": \"card\",\n
        \ \"card\": {\n    \"id\": \"card_2R1z8HfYPYQeF7\",\n    \"object\": \"card\",\n
        \   \"last4\": \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 3,\n
        \   \"exp_year\": 2016,\n    \"fingerprint\": \"dYM8NQQzCkhwHw6j\",\n    \"customer\":
        null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Fri, 23 Aug 2013 02:03:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=cad&card=tok_2R1zpHEEQfYaBT&description=Valid%20card
    headers:
      Authorization:
      - Bearer sk_test_OJz03Gsmewauak1Y2dSEuUtJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_2R1zcuL5g2bhO8\",\n  \"object\": \"charge\",\n
        \ \"created\": 1377223418,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        999,\n  \"currency\": \"cad\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_2R1z8HfYPYQeF7\",\n    \"object\": \"card\",\n    \"last4\": \"4242\",\n
        \   \"type\": \"Visa\",\n    \"exp_month\": 3,\n    \"exp_year\": 2016,\n
        \   \"fingerprint\": \"dYM8NQQzCkhwHw6j\",\n    \"customer\": null,\n    \"country\":
        \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n    \"address_line2\":
        null,\n    \"address_city\": null,\n    \"address_state\": null,\n    \"address_zip\":
        null,\n    \"address_country\": null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\":
        null,\n    \"address_zip_check\": null\n  },\n  \"captured\": true,\n  \"balance_transaction\":
        \"txn_2R1z72C8XhWIGV\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": \"Valid card\",\n  \"dispute\": null,\n  \"fee\": 59,\n
        \ \"fee_details\": [\n    {\n      \"amount\": 59,\n      \"currency\": \"cad\",\n
        \     \"type\": \"stripe_fee\",\n      \"description\": \"Stripe processing
        fees\",\n      \"application\": null\n    }\n  ]\n}\n"
  recorded_at: Fri, 23 Aug 2013 02:03:38 GMT
recorded_with: VCR 2.5.0
