---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=premium&card=tok_2C1cmy7DAggcP6&email=dyankee%40example.com
    headers:
      Authorization:
      - Bearer sk_test_OJz03Gsmewauak1Y2dSEuUtJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1373762479,\n  \"id\":
        \"cus_2C1ciCCGN6IJdf\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"dyankee@example.com\",\n  \"delinquent\": false,\n  \"subscription\":
        {\n    \"plan\": {\n      \"interval\": \"month\",\n      \"name\": \"Myflix
        monthly plan\",\n      \"amount\": 999,\n      \"currency\": \"cad\",\n      \"id\":
        \"premium\",\n      \"object\": \"plan\",\n      \"livemode\": false,\n      \"interval_count\":
        1,\n      \"trial_period_days\": null\n    },\n    \"object\": \"subscription\",\n
        \   \"start\": 1373762479,\n    \"status\": \"active\",\n    \"customer\":
        \"cus_2C1ciCCGN6IJdf\",\n    \"cancel_at_period_end\": false,\n    \"current_period_start\":
        1373762479,\n    \"current_period_end\": 1376440879,\n    \"ended_at\": null,\n
        \   \"trial_start\": null,\n    \"trial_end\": null,\n    \"canceled_at\":
        null,\n    \"quantity\": 1\n  },\n  \"discount\": null,\n  \"account_balance\":
        0,\n  \"cards\": {\n    \"object\": \"list\",\n    \"count\": 1,\n    \"url\":
        \"/v1/customers/cus_2C1ciCCGN6IJdf/cards\",\n    \"data\": [\n      {\n        \"id\":
        \"cc_2C1cwQdf4saVEZ\",\n        \"object\": \"card\",\n        \"last4\":
        \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\": 3,\n        \"exp_year\":
        2015,\n        \"fingerprint\": \"dYM8NQQzCkhwHw6j\",\n        \"customer\":
        \"cus_2C1ciCCGN6IJdf\",\n        \"country\": \"US\",\n        \"name\": null,\n
        \       \"address_line1\": null,\n        \"address_line2\": null,\n        \"address_city\":
        null,\n        \"address_state\": null,\n        \"address_zip\": null,\n
        \       \"address_country\": null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null\n      }\n    ]\n  },\n  \"default_card\":
        \"cc_2C1cwQdf4saVEZ\",\n  \"active_card\": {\n    \"id\": \"cc_2C1cwQdf4saVEZ\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 3,\n    \"exp_year\": 2015,\n    \"fingerprint\": \"dYM8NQQzCkhwHw6j\",\n
        \   \"customer\": \"cus_2C1ciCCGN6IJdf\",\n    \"country\": \"US\",\n    \"name\":
        null,\n    \"address_line1\": null,\n    \"address_line2\": null,\n    \"address_city\":
        null,\n    \"address_state\": null,\n    \"address_zip\": null,\n    \"address_country\":
        null,\n    \"cvc_check\": \"pass\",\n    \"address_line1_check\": null,\n
        \   \"address_zip_check\": null\n  }\n}\n"
  recorded_at: Sun, 14 Jul 2013 00:41:32 GMT
recorded_with: VCR 2.5.0
