!!!
%html
  %body
    %p Your friend #{@inviter.fullname} has invited you to join myflix.
    %p You can watch as much movies as you want at $9.99/month.
    %p join us from followig link.
    %p Message from #{@inviter.fullname}
    %p= @invitation.message
    %p= link_to "Register at myflix from here", new_user_url(@invitation.token)